body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #eee;
  margin: 0;
  display:flex;
  flex-direction: column; }

img {
  display: block;
  width: 100%;
}
